/*
 * Per-assembly metadata. Single source of truth for VEP / Ensembl version pinning.
 * Pinned to upstream gvanno 1.7.0 (VEP 110, gvanno bundle 20231224).
 */

params {
    genomes {
        'GRCh38' {
            assembly_dir     = 'grch38'
            vep_assembly     = 'GRCh38'
            ensembl_version  = '110'
            gencode_version  = 'v44'
            fasta_filename   = 'Homo_sapiens.GRCh38.dna.primary_assembly.fa.bgz'
            ancestor_url     = 'https://personal.broadinstitute.org/konradk/loftee_data/GRCh38'
            fasta_url        = 'http://ftp.ensembl.org/pub/release-110/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz'
            vep_cache_url    = 'https://ftp.ensembl.org/pub/release-110/variation/indexed_vep_cache/homo_sapiens_vep_110_GRCh38.tar.gz'
        }
        'GRCh37' {
            assembly_dir     = 'grch37'
            vep_assembly     = 'GRCh37'
            ensembl_version  = '110'
            gencode_version  = 'v19'
            fasta_filename   = 'Homo_sapiens.GRCh37.dna.primary_assembly.fa.bgz'
            ancestor_url     = 'https://personal.broadinstitute.org/konradk/loftee_data/GRCh37'
            fasta_url        = 'http://ftp.ensembl.org/pub/grch37/release-110/fasta/homo_sapiens/dna/Homo_sapiens.GRCh37.dna.primary_assembly.fa.gz'
            vep_cache_url    = 'https://ftp.ensembl.org/pub/release-110/variation/indexed_vep_cache/homo_sapiens_vep_110_GRCh37.tar.gz'
        }
    }
}
