/*
 * Per-assembly metadata. Single source of truth for VEP / Ensembl version pinning.
 * Pinned to upstream VEP 115 / Ensembl 115 (gvanno bundle 20260810).
 */

params {
    genomes {
        'GRCh38' {
            assembly_dir     = 'grch38'
            vep_assembly     = 'GRCh38'
            ensembl_version  = '115'
            gencode_version  = 'v49'
            fasta_filename   = 'Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz'
            ancestor_url     = 'https://personal.broadinstitute.org/konradk/loftee_data/GRCh38'
            fasta_url        = 'http://ftp.ensembl.org/pub/release-115/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz'
            vep_cache_url    = 'https://ftp.ensembl.org/pub/release-115/variation/indexed_vep_cache/homo_sapiens_vep_115_GRCh38.tar.gz'
        }
        'GRCh37' {
            assembly_dir     = 'grch37'
            vep_assembly     = 'GRCh37'
            ensembl_version  = '115'
            gencode_version  = 'v19'
            fasta_filename   = 'Homo_sapiens.GRCh37.dna.primary_assembly.fa.gz'
            ancestor_url     = 'https://personal.broadinstitute.org/konradk/loftee_data/GRCh37'
            fasta_url        = 'http://ftp.ensembl.org/pub/grch37/release-115/fasta/homo_sapiens/dna/Homo_sapiens.GRCh37.dna.primary_assembly.fa.gz'
            vep_cache_url    = 'https://ftp.ensembl.org/pub/release-115/variation/indexed_vep_cache/homo_sapiens_vep_115_GRCh37.tar.gz'
        }
    }
}
